doctype html
html(lang="en")
  head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    title= "Shlack"
    link(rel="icon" href=assetPath('favicon.ico'))
    link(rel="stylesheet" href=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #app
    script(src=assetPath('main.js'))
