doctype html
html(lang="en")
  head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="Simple chat app" />
    title= "Shlack"
    link(rel="icon" href=assetPath('favicon.ico'))
    link(rel="icon" type='image/png' href=assetPath('favicon-16x16.png') sizes='16x16')
    link(rel="icon" type='image/png' href=assetPath('favicon-32x32.png') sizes='32x32')
    link(rel="icon" type='image/png' href=assetPath('android-chrome-192x192.png') sizes='192x192')
    link(rel="icon" type='image/png' href=assetPath('android-chrome-512x512.png') sizes='512x512')
    link(rel="apple-touch-icon" href=assetPath('apple-touch-icon.png'))
    link(rel="manifest" href=assetPath('site.webmanifest'))
    link(rel="stylesheet" href=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #app
    script(src=assetPath('main.js'))
